  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #ebf5f0 ; */
}

.logo{
    padding-left: 120px;    
    font-family: 'Srisakdi', cursive;
}
.navbar{
    /* background-color: pink; */
    font-family: 'Srisakdi', cursive;
    display: flex;
    align-items: center;
    padding: 20px;
}
.cnav{
    /* background-color: yellow; */
    flex: 1;
    text-align: right;
}
.cnav ul{
    display: inline-block;
    list-style-type: none;
}
.cnav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color:#555;
}
.container{    
    max-width: 1500px;
    margin: auto;
    padding-left: 1px;
    padding-right: 1px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center;
}
.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}